<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="sharpliner-local1" value="../../artifacts/package/release" />
    <add key="sharpliner-local2" value="../../artifacts/packages" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="sharpliner-local1">
      <package pattern="Sharpliner*" />
      <package pattern="E2E.Tests.Sharpliner*" />
    </packageSource>
    <packageSource key="sharpliner-local2">
      <package pattern="Sharpliner*" />
      <package pattern="E2E.Tests.Sharpliner*" />
    </packageSource>
  <disabledPackageSources />
</configuration>
